<div class="center hero-unit">
  <h1>Welcome friends</h1>

  <h2>
    It's time to solve some questions :-)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>